<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>Venta por cantidad</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <div class="table-responsive">
                <table id="tblVentaCantidad" class="table table-hover">                                                                       
                    <thead>
                        <tr>
                            <th>Cantidad en pesos: </th>
                            <th class="text-end">
                                <div class="row justify-content-end">
                                    <div class="col-5">
                                        <input type="number" class="form-control" id="txtCantidadDinero" placeholder="Cantidad ($)" min="12" oninput="validarCantidadDinero()" onkeypress="presionarTeclaDinero(event);" >
                                    </div>
                                    
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>Cantidad de galletas: </th>
                            <th class="text-end">
                                <label for="txtCantidadGalletasDinero"></label>
                                <label id="txtCantidadGalletasDinero" ></label>
                            </th>
                        </tr>
                        <tr>
                            <th>Total: </th>
                            <th class="text-end">
                                <label for="txtTotalDinero"></label>
                                <label id="txtTotalDinero" ></label>
                            </th>
                        </tr>
                    </thead>                                        
                </table>
                <div class="d-flex justify-content-end mt-4">                       
                    <button id="btnAgregarVentaDinero" class="button" onclick="agregarFilaDinero();" disabled><i class="fas fa-cart-plus me-2"></i> Agregar</button>
                </div>
            </div>
        </div>
        <script>
            
        </script>
    </body>
</html>

