<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>Mes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="row mt-2">
            <div id="divDetalle" class="col">

                <div class="card-body" style="background-color: #FAEADA;">
                    <div class="form">
                        <div class="row">
                        </div>
                        <div class="row mt-2">
                            <div id="divCatalogo" class="col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-header text-white card-hform d-flex justify-content-between align-items-center" style="background-color: #b38b60">
                                        <div style="display: flex; justify-content: space-around; width: 100%;">
                                            Reporte de Ganancias (Mes)
                                        </div>                                            
                                    </div>


                                    <table id="tblGananciasInsumos" class="table table-hover">                                                                
                                        <thead>
                                            <tr>
                                                <th>Caracater&iacute;sticas</th>
                                                <th>Datos</th>
                                            </tr>
                                            <tr>
                                                <td>N° Galletas vendias</td>
                                                <td>3890</td>
                                            </tr>
                                            <tr>
                                                <td>Ganancias</td>
                                                <td>$ 58,350</td>
                                            </tr>
                                            <tr>
                                                <td>Gastos en insumos</td>
                                                <td>$ 30,675</td>
                                            </tr>
                                            <tr>
                                                <td>Dinero Disponible</td>
                                                <td>$ 27,675</td>
                                            </tr>
                                            <tr>
                                                <td>Porcentaje obtenido</td>
                                                <td>47.42 %</td>
                                            </tr>
                                        </thead>                                                                                       
                                    </table>                                        
                                </div>
                            </div>
                            <div id="divCatalogo" class="col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-header text-white card-hform d-flex justify-content-between align-items-center" style="background-color: #b38b60">
                                        <div style="display: flex; justify-content: space-around; width: 100%;">
                                            Gr&aacute;fica (Mes)
                                        </div>                                            
                                    </div>
                                    <div class="col-md-auto" style="display: flex; justify-content: space-around; width: 100%;" >
                                        <img src="../static/img/GraficoPastelMes.png" alt="logo_DonGalleto" class="imagenGrafica">
                                    </div>                                   
                                </div>
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
